html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset body margins */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* Optional: Set background color to white */
    overflow-x: hidden; /* Prevent horizontal scroll */
}

p {
    margin: 0px;
    padding-bottom: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

@font-face {
    font-family: 'Styrene A';
    src: url('StyreneA-Medium.woff2') format('woff2'),
        url('StyreneA-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.text-container {
    font-family: 'Styrene A';
    font-size: 18px;
    line-height: 1.1;
    left: 0;
    top: 0;
    color: #fff;
    mix-blend-mode: difference;
    margin: 20px;
    position: absolute;
    max-width: 580px;
}

.logo-container {
    width: 100%;
    position: fixed; /* Keep the logo fixed */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset centering */
    z-index: 100; /* Ensure it's above other content */
     mix-blend-mode: difference;
      
}

.logo-container img {
    margin: 20px;
    display: block;
    mix-blend-mode: difference;
}

/* Mobile-specific styles */
@media (max-width: 768px) { /* Adjust max-width as needed */
    .logo-container img {
        content: url('assets/OOW_SYMBOL.svg'); /* Replace logo for mobile */
    }
}
