/* Reset body margins */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* Optional: Set background color to white */
}

.logo-container {
    width: 90%;
}


.logo-container img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
